.content {
	background-color: #FFFFFF;
	font-size: 16pt;
	height: 100%;		
	width:100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu {
	overflow-x: hidden;
	height: 100%;
	background-color: #F2F2F2;
	/*background-color: #E3F6CE;*/
}

.menu_item {
	padding: 20px;
	font-size: 18pt;
}

.container{
	height: 100%;
	width:100%;
    overflow-x: hidden;
}

.content_item {
	font-size: 18pt;
	border-bottom: 1px;	
	text-decoration:none;
	color: inherit;
}

.content_item_container {
	padding: 15px;
	border-bottom: solid 1px black; 
	background-color: #CEECF5;
}

.scroll_container, 
.scroll_hide_container {
	overflow-y: auto;
	overflow-x: hidden;
 	height: 92%;
	width: 100%;
}


.nav_panel {
    height: 8%;
    width: 100%;
    background-color: #F2F2F2;
}

.nav_title {
	vertical-align: middle;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.login_container {
	height: 100%;
	width: 100%;
	padding-left: 50px;	
}

.login_input {
	width: 50%;
	font-size: 20pt;
}

.login_text {
	width: 100px;
	font-size: 20pt;
}

.login_btn {
	margin-top: 50px;
	padding: 10px;
	font-size: 18pt;
}

.issue_detail_container {
	background-color:#ffebc1;
}

.issue_detail_category {
	width: 200px;
	font-weight:bold;
	padding-left: 50px;
	display: inline-block;
	padding-bottom: 10px;
}

.issue_detail_value {

}

.issue_detail_note_input {
	margin-left: 20px;
	padding: 5px;
	width: 50%;
}

.issue_detail_note_btn {
	margin-left: 20px;
	padding: 10px;
}

